header {
    overflow: auto;
}

#usuario,
#login {
    width: 300px;
    float: right;
    position: relative;
}

#login input {
    margin-top: 3px;
}


.boton_formulario {
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    padding: 3px;
    background-color: #eee;
    text-decoration: none;
    color: black;
}

.body{

}

.index-options{
    font-size: 2em !important;
    font-weight: 600 !important;
}

.photos_articulo {
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.articulo_listado {
    float: left;
    min-height: 200px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 150px;
}

.articulo_ver {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    position: relative;
}

.papelera {
    height: 20px;
    opacity: 0.5;
}

.papelera:hover {
    opacity: 1;
}

.borrar_articulo {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}

main {
    overflow: auto;
}

.precio_articulo {

    font-weight: bold;
    color: #f00;
    width: 100px;
    padding: 3px;
    text-align: center;
    margin: auto;
    font-family: verdana;
}

.contactar {
    font-size: 1em;
    font-weight: bold;
    color: #00f;
    border: 1px solid black;
    width: 120px;
    padding: 3px;
    border-radius: 50px;
    text-align: center;
    margin: 5px auto;
    font-family: verdana;
}

.contactar:hover {
    background-color: #aaa;
    cursor: pointer;
    transition: 0.5s all;
    width: 130px;
}

menu {
    overflow: auto;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 0px 5px;
    padding: 0px;
}

ul#menu_usuario {
    margin: 0px;
    padding: 0px;
}

ul#menu_usuario li {
    margin: 0px;
    padding: 5px;
    list-style-type: none;
    float: left;
    border: 1px solid white;
    cursor: pointer;
    background-color: #eee;
}

ul#menu_usuario li:hover {
    background-color: #aaa;
}

ul#menu_usuario li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#photo_usuario {
    height: 80px;
    width: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    box-shadow: 0px 0px 5px 0px #aaa;
    margin: 5px;
}

#datos_usuario {
    position: absolute;
    top: 40px;
    left: 100px;
}

#formulario_actualizar_photo {
    display: none;
}

#mydatatable tfoot input {
    width: 100% !important;
}

#mydatatable_wrapper button {
    margin: 2px 10px 2px 4px;
}

.fa-solid {
    font-size: 4em;
    font-weight: 900;
}

.photo_user_index{

}

.footer {
    background-color: $colour2;
    background-image: url("../../web/images/DonQuijotebackground.png");
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.7;
    bottom: 0;
    width: 100%;
    height: 18em;
}


/* to little screen less than 768px */
@media screen and (max-width: 768px) {
    #usuario,
    #login {
        width: 100%;
        float: none;
        position: relative;
    }

.logo{
    width: 50px;
    height: 60px;
}    

.index-options{
    font-size: 2em !important;
    font-weight: bold;
}

.fa-solid  {
    font-size: 1.5em;
    float: right;
}

.btnIndex{
    margin: 4px 0px 4px 0px !important;
    padding: 2px 0px 2px 0px !important;
}

.photo_user_index{
display:flex;
}
}

/* to little screen less than 480px */
@media screen and (max-width: 480px) {
    .fa-solid  {
        font-size: 1.2em;
        float: right;
    }

    .index-options{
        font-size: 1em !important;
        font-weight: bold;
    }
}