@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

/* Color Variables */
:root {
  --colour1: #2d4fa4;
  --colour2: #bddef7;
  --colour3: #000000;
  --colour4: #ffffff;
}

/* Typography */
.font-heading {
  font-family: 'Dongle', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  color: var(--colour3);
}

.font-heading-subtitle {
  font-family: 'Dongle', sans-serif;
  font-weight: 100;
  font-size: 18px;
  font-style: italic;
}

/* Navigation */
.menu {
  visibility: hidden;
}

.nav-link {
  font-weight: bold;
}

.nav-link:hover, .dropdown-item:hover, .close-session:hover {
  background-color: var(--colour2) !important;
  border-radius: 1em;
  color: var(--colour3) !important;
  box-shadow: 0px 0px 1em 0px var(--colour1);
}

/* Form Styles */
.form {
  background-color: var(--colour4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--colour2);
  border-radius: 4px;
  background: var(--colour4);
  color: var(--colour3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-group label {
  font-size: 0.875rem;
  color: var(--colour1);
  background-color: var(--colour4);
  padding: 0 0.25rem;
  margin: unset;
}

.form-group input:focus + label,
.form-group textarea:focus + label,
.form-group select:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:not(:placeholder-shown) + label,
.form-group select:not(:placeholder-shown) + label {
  top: -2rem;
  font-size: 0.75rem;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: var(--colour1);
  outline: none;
  box-shadow: 0 0 8px rgba(45, 79, 164, 0.1);
}

/* Specific Adjustments for Client Field */
#inputClientUser + label {
  top: -1.5rem;
  left: 0.5rem;
  font-size: 0.875rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Button Styles */
.btn-title {
  text-decoration: none;
  color: var(--colour4);
  font-weight: bold;
  background-color: var(--colour1);
  border: 0.2em solid var(--colour1);
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  display: block;
  text-align: center;
}

.btn-title:hover {
  background-color: var(--colour2);
  color: var(--colour1);
  box-shadow: 0px 0px 1em 0px var(--colour1);
}

/* Text Centering */
.text-center {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--colour1);
}

/* General Styles */
.boton_form {
  border: 1px solid var(--colour1);
  box-sizing: border-box;
  display: inline-block;
  padding: 3px;
  background-color: #eee;
  text-decoration: none;
  color: var(--colour3);
}

.index-options {
  color: var(--colour4);
  font-size: 2em;
  height: 6em;
  margin: 1em;
  font-weight: 600;
  display: grid;
}

.index-options:hover {
  color: var(--colour3) !important;
}

.btnIndex {
  background-color: var(--colour1) !important;
  border: 0.2em solid var(--colour1) !important;
  font-style: var(--colour4) !important;
  border-radius: 1em;
  padding: 0.2em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btnIndex:hover {
  background-color: var(--colour2) !important;
  color: var(--colour3) !important;
  box-shadow: 0px 0px 1em 0px var(--colour1);
}

.btnIndexText {
  font-size: 0.7em;
}

.btnIndexText-Name {
  font-size: 0.6em;
}

.btn-table {
  background-color: var(--colour1) !important;
  border: 0.2em solid var(--colour1) !important;
  font-style: var(--colour4) !important;
  color: var(--colour4) !important;
  border-radius: 1em;
  padding: 0.2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn-table a {
  text-decoration: none;
  color: var(--colour4);
  padding: 0.2em;
}

.btn-table:hover {
  background-color: var(--colour2) !important;
  color: var(--colour3) !important;
  box-shadow: 0px 0px 1em 0px var(--colour1);
}

.buttons-html5 {
  background-color: var(--colour1) !important;
  border: 0.2em solid var(--colour1) !important;
  font-style: var(--colour4) !important;
  color: var(--colour4) !important;
  border-radius: 1em;
  padding: 0.2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.buttons-html5:hover {
  background-color: var(--colour2) !important;
  color: var(--colour3) !important;
  box-shadow: 0px 0px 1em 0px var(--colour1);
}

/* Options and Articles */
.options_box {
  background-color: var(--colour2);
}

.photos_articulo {
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.articulo_listado {
  float: left;
  min-height: 200px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  position: relative;
  width: 150px;
}

.articulo_ver {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  position: relative;
}

.papelera {
  height: 20px;
  opacity: 0.5;
}

.papelera:hover {
  opacity: 1;
}

.borrar_articulo {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
}

.precio_articulo {
  font-weight: bold;
  color: #f00;
  width: 100px;
  padding: 3px;
  text-align: center;
  margin: auto;
  font-family: verdana;
}

.contactar {
  font-size: 1em;
  font-weight: bold;
  color: #00f;
  border: 1px solid black;
  width: 120px;
  padding: 3px;
  border-radius: 50px;
  text-align: center;
  margin: 5px auto;
  font-family: verdana;
}

.contactar:hover {
  background-color: #aaa;
  cursor: pointer;
  transition: 0.5s all;
  width: 130px;
}

/* User Menu */
menu {
  overflow: auto;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin: 0px 5px;
  padding: 0px;
}

ul#menu_usuario {
  margin: 0px;
  padding: 0px;
}

ul#menu_usuario li {
  margin: 0px;
  padding: 5px;
  list-style-type: none;
  float: left;
  border: 1px solid white;
  cursor: pointer;
  background-color: #eee;
}

ul#menu_usuario li:hover {
  background-color: #aaa;
}

ul#menu_usuario li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* User Information */
.userInfoIndex {
  display: flex;
  padding-right: 0.6em;
}

.photo_user {
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  box-shadow: 0px 0px 5px 0px #aaa;
  margin-right: 0.6em;
}

.photo_user_index {
  height: 2em;
  width: 2em;
  background-size: cover;
  background-position: center;
  float: right;
  border-radius: 0.5em;
}

#datos_usuario {
  position: absolute;
  top: 40px;
  left: 100px;
}

#formulario_actualizar_photo {
  display: none;
}

/* DataTables */
#mydatatable tfoot input {
  width: 100% !important;
}

#mydatatable_wrapper button {
  margin: 2px 10px 2px 4px;
}

.fa-solid {
  font-size: 2.5em;
  font-weight: 900;
}

.fa-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
.footer {
  position: inherit;
  flex-wrap: wrap;
  background-image: url("../../images/DonQuijotebackground.png");
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0.7;
  bottom: 0;
  width: 100%;
  height: 18em;
  background-color: #031432;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  #usuario,
  #login {
    width: 100%;
    float: none;
    position: relative;
  }

  .logo {
    width: 3em;
  }

  .font-heading {
    font-size: 1.2em !important;
  }

  .font-heading-subtitle {
    display: none;
  }

  .index-options {
    font-size: 2em !important;
    font-weight: bold;
    height: 3em;
    margin: 0.4em;
  }

  .fa-solid {
    font-size: 1.5em;
    float: right;
    padding: auto;
  }

  .btnIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: inherit;
  }

  .btnIndexBootstrap {
    margin: 4px 0px 4px 0px !important;
    padding: 2px 0px 2px 0px !important;
    background-color: var(--colour1) !important;
  }

  .btnIndexText-Name {
    font-size: 0.5em;
    padding-right: 0.6em;
  }

  .dt-buttons {
    display: none !important;
  }

  .dataTables_wrapper, .records_list {
    font-size: 0.7rem !important;
  }

  .btn-table {
    font-size: 0.7rem !important;
  }

  .btn-title {
    font-size: 0.7rem !important;
  }

  .error {
    font-size: 0.7rem !important;
  }

  .hidden {
    display: none !important;
  }

  .userInfoIndex {
    display: flex !important;
  }

  .photo_user {
    height: 3em;
    background-size: cover;
    background-position: center;
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px 0px #aaa;
  }

  .form-group {
    padding: 0.3em;
    margin-bottom: 0.8em !important;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .form-control {
    font-size: 0.7rem;
    font-weight: bold;
  }

  .form-label {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 576px) {
  .form-group label {
    top: -1.25rem;
    font-size: 0.75rem;
  }
}
